body {
  // background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}



a {
  color: inherit;
  text-decoration: none;
}

.ats-analyzer-container{
   color: white;
    // --background: #0a0a0a;
    // --foreground: #ededed;
    //background: radial-gradient(circle, #4800b488, #000000);
    background: #ffffff;
    min-height: max-content;
    height: 100vh;
}
// .logo h1{
//     padding-left: 10px;
//     padding-top:4px;
//     // -webkit-text-fill-color: #ffffff;
//     // -webkit-text-stroke-color: #ffffff;
//     -webkit-text-fill-color: black;
//     -webkit-text-stroke-color: black;
//     -webkit-text-stroke-width:2px;
//     font-size:xx-large;
//     font-size: clamp(1.5rem, 3vw, 3rem);
//     text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
// }   
.header{
    position: relative;
    text-align: center;
    font-size:0.75em;
    h1{
        // -webkit-text-fill-color: #ffffff;
        // -webkit-text-stroke-color: #ffffff;
        -webkit-text-fill-color: black;
        -webkit-text-stroke-color: black;
        font-weight: bolder;
        font-size: clamp(1.5rem, 3vw, 3rem);
        text-shadow: 3px 7px 5px rgba(255, 255, 255, 0.5);
    }
    
}
.resume-wrapper{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
.resume-form{
    height: 70vh;
    width: 50vh;
    margin:2%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-radius: 5px;
    box-shadow: 0 0 10px 2.5px #00aaff, 0 0 20px 5px #0088ff, 0 0 30px 7px #0055ff;
}
.pdf-file{
    height: 94%;
    width:94%;
}
.open-pdf-btn{
  background: red;
  font-weight: bold;
  border-radius: 5%;
  padding:1%;
  position: absolute;
  bottom:0.5%;
}