.signup-form{
    height: 40vh;
    display: flex;
    flex-direction: column;
    padding-left: 8%;
    font-size: large;
    p{
        font-size: smaller;
        color: red;
    }
    label{
        display: flex;
        justify-content: space-between;
        margin-right:2%;
        height:8vh;
        align-items: center;
    }
    input{
        // color: black;
        // background-color: white;
        height:70%;
        width: 50%;
        padding-left: 2%;
        outline: none;
        border: none;
    }:focus{
        border: none;
        outline: none;
        border-bottom:2px solid white;
    }
}
.signup-submit{
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .signup-btn{
        display:flex ;
        justify-content: center;
        align-items: center;
        background-color: rgb(54, 54, 247);
        width:50%;
        color: aliceblue;
        height: 6vh;
        border-radius: 5px;
        font-weight: bolder;
        cursor: pointer;
    }
    .signup-btn:hover{
        background-color: blue;
        box-shadow: 0 0 10px 2.5px #00aaff, 0 0 20px 5px #0088ff, 0 0 30px 7.5px #0055ff;
        border-radius: 5px; /* Optional for smoother edges */
    }
    p span{
        color: red;
        cursor: pointer;
    }
}