.nav-wrapper {
  display: flex;
  align-items: center;
  background-color: grey;
  position: sticky;
  top: 0;
  height: 5vh;
  z-index: 1000;
}

.logo {
  width: 50%;
  padding-left: 2%;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-width: 1px;
  text-shadow: 3px 7px 5px rgba(255, 255, 255, 0.5);
}

.nav-list-wrapper {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.ham-menu {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.ham-icon {
  padding-right: 2%;
}

.menu-dropdown {
  position: absolute;
  top: 5vh;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.853);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.menu-dropdown div {
  text-align: center;
  margin: 1%;
  cursor: pointer;
}

.menu-dropdown div:active {
  background-color: grey;
}

.redirect {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.home {
  padding: 4%;
  padding-top: 0;
  padding-bottom: 0;
  height: -moz-max-content;
  height: max-content;
}
.home h1 {
  font-size: clamp(2rem, 5vw, 8rem);
}
.home p {
  font-size: clamp(1rem, 2vw, 2.5rem);
  color: black;
}
.home .home-btn {
  display: flex;
}
.home .home-btn div {
  margin-right: 2%;
  border: 2px solid black;
  padding: 1%;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.download-btn {
  background-color: black;
  color: aliceblue;
}

.download-btn:hover {
  scale: 1.1;
}

.signup-btn:hover {
  scale: 1.1;
}

.home-image {
  height: 50vh;
  position: relative;
  z-index: -1;
}

.section-1 {
  padding: 4%;
  padding-top: 0;
  display: flex;
  align-items: center;
}

.section-1-content {
  padding-right: 5%;
  width: 50%;
}

.section-1-heading {
  font-size: clamp(1.5rem, 3vw, 3rem);
  font-weight: bold;
}

.section-1-desc {
  font-size: clamp(1rem, 2vw, 2rem);
}

.section-1-image {
  width: 50%;
  z-index: -1;
  height: 60vh;
  position: relative;
}

.section-2 {
  padding: 4%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-2-head {
  text-align: center;
  font-weight: bold;
  font-size: clamp(1.5rem, 4vw, 4rem);
}

.section-2-content {
  text-align: center;
  font-size: clamp(1rem, 2vw, 2rem);
}

.section-2-cards {
  display: flex;
  gap: 2%;
}

.section2-btn {
  margin-top: 5%;
  border: 2px solid black;
  color: black;
  padding: 1%;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.section2-btn:hover {
  color: white;
  background-color: black;
}

.footer {
  padding: 2%;
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  background-color: black;
  color: aliceblue;
  padding: 1%;
  font-size: clamp(0.4rem, 2.5vw, 1.5rem);
}

.footer-sec-1 div {
  margin-bottom: 8%;
}

.copyright {
  text-align: center;
  background-color: black;
  color: aliceblue;
  font-size: clamp(0.4rem, 2.5vw, 1.5rem);
  padding-bottom: 1%;
}/*# sourceMappingURL=page.css.map */